.home-container {
  padding: 20px;
}

#social-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  background: #2a2a2a;
}
